In [2]:
import pandas as pd

In [3]:
#reading one csv file

prem_league = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [4]:
prem_league.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [5]:
#rename
prem_league.rename(columns={'FTHG': 'Home Goals' , 'FTAG':'Away Goals'},inplace=True)

In [6]:
prem_league.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08

MULTIPLE URLS

LINK: ROOT + SEASON + LEAGUE

https://www.football-data.co.uk/mmz4281/2526/E0.csv \n
https://www.football-data.co.uk/mmz4281/2526/E1.csv \n
https://www.football-data.co.uk/mmz4281/2526/E2.csv \n
https://www.football-data.co.uk/mmz4281/2526/E3.csv \n
https://www.football-data.co.uk/mmz4281/2526/E.4csv

In [7]:
#creating root variable

root = "https://www.football-data.co.uk/mmz4281/"

In [8]:
leagues = ['E0','E1','E2','E3','EC']
frames = []

#loop through the urls

for league in leagues:
    df = pd.read_csv(root + '2526' + '/' + league + '.csv',encoding='unicode_escape')
    frames.append(df)

In [9]:
len(frames)

5

In [10]:
frames[2]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,01/08/2025,20:00,Luton,AFC Wimbledon,1,0,H,0,0,...,1.93,1.93,1.93,1.95,1.98,1.93,1.91,1.82,1.94,2.01
1,E2,02/08/2025,12:30,Cardiff,Peterboro,2,1,H,0,1,...,1.85,2.00,1.87,2.03,1.90,2.00,1.85,1.88,1.93,2.04
2,E2,02/08/2025,15:00,Blackpool,Stevenage,2,3,A,1,2,...,1.93,1.93,1.94,1.94,1.94,1.93,1.84,1.87,1.94,2.04
3,E2,02/08/2025,15:00,Bradford,Wycombe,2,1,H,2,0,...,1.73,2.08,1.90,1.99,1.77,2.20,1.72,2.02,1.80,2.22
4,E2,02/08/2025,15:00,Burton,Mansfield,2,1,H,1,0,...,2.00,1.85,1.69,2.26,2.00,1.85,1.93,1.79,2.04,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,E2,13/12/2025,15:00,Cardiff,Doncaster,4,3,H,2,2,...,1.88,1.98,NaN,NaN,1.88,1.98,1.82,1.88,1.91,2.06
227,E2,13/12/2025,15:00,Luton,Port Vale,2,2,D,1,1,...,1.93,1.93,NaN,NaN,1.93,1.93,1.87,1.83,1.99,1.97
228,E2,13/12/2025,15:00,Peterboro,Northampton,2,1,H,1,0,...,1.95,1.90,NaN,NaN,1.95,1.90,1.91,1.80,2.04,1.94
229,E2,13/12/2025,15:00,Plymouth,Rotherham,1,0,H,1,0,...,1.83,2.03,NaN,NaN,1.83,2.03,1.78,1.92,1.86,2.13
230,E2,13/12/2025,15:00,Stockport,Stevenage,1,3,A,0,1,...,1.80,2.05,NaN,NaN,1.85,2.05,1.78,1.93,1.89,2.11

MULTIPLE SEASONS

In [11]:
leagues = ['E0','E2','E3']
frames = []

#loop through the urls

for league in leagues:
    for season in range(15,25):
        df = pd.read_csv(root + str(season) + str(season+1) + '/' + league + '.csv')
        df.insert(1,'season', season);
        frames.append(df)

In [12]:
len(frames)

30

In [14]:
frames[29]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,24,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,24,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,24,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,24,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,24,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,24,03/05/2025,15:00,Morecambe,Harrogate,1,2,A,1,...,1.78,2.10,1.74,2.12,1.78,2.18,1.73,2.09,1.81,2.22
548,E3,24,03/05/2025,15:00,Newport County,Tranmere,1,4,A,1,...,1.78,2.03,1.84,2.00,1.84,2.03,1.81,1.98,1.84,2.13
549,E3,24,03/05/2025,15:00,Notts County,Doncaster,1,2,A,0,...,1.80,2.05,1.79,2.06,1.81,2.12,1.76,2.05,1.85,2.15
550,E3,24,03/05/2025,15:00,Port Vale,Gillingham,0,1,A,0,...,2.03,1.83,2.04,1.81,2.05,1.83,2.00,1.80,2.09,1.86
551,E3,24,03/05/2025,15:00,Swindon,Milton Keynes Dons,0,0,D,0,...,2.03,1.83,1.99,1.85,2.04,1.86,1.98,1.83,2.11,1.86

Organise All the data in a dictionary

In [16]:
dict_countries = {
    'Spanish La Liga' : 'SP1' , 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3'
}

In [17]:
dict_countries['Spanish La Liga']

'SP1'

In [18]:
dict_historical_data = {}

# leagues = ['E0','E2','E3']

#loop through the urls

for league in dict_countries:
    frames = []
    for season in range(15,25):
        df = pd.read_csv(root + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv')
        df.insert(1,'season', season);
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [19]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])